//Bounded
@font-face {
  font-family: "Bounded";
  src: url("/fonts/Bounded/Bounded-Variable.ttf") format("truetype-variations");
  font-weight: 200 900;
  font-display: swap;
}

@font-face {
  font-family: "Bounded";
  src: url("/fonts/Bounded/Bounded-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Bounded";
  src: url("/fonts/Bounded/Bounded-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Bounded";
  src: url("/fonts/Bounded/Bounded-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
}

//Roboto for Learning
@font-face {
  font-family: "Roboto for Learning";
  src: url("/fonts/Roboto_for_Learning/RobotoforLearning-Regular_0.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Roboto for Learning";
  src: url("/fonts/Roboto_for_Learning/RobotoforLearning-Medium_0.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Roboto for Learning";
  src: url("/fonts/Roboto_for_Learning/RobotoforLearning-Bold_0.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Roboto for Learning";
  src: url("/fonts/Roboto_for_Learning/RobotoforLearning-Black_0.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
}
