// Color
$lightColor: #FFFFFF;
$darkColor: #02000D;
$darkBlueColor: #011C40;
$mainBlueColor: #093773;
$lightBlueColor: #8AABBF;
$mainTealColor: #0E6073;

$darkGrayBlueColor: #738C9C;
$mainGrayColor: #556773;
$mainGrayBlueColor: #8EACBF;
$darkGrayColor: #37434A;
$lightGrayBlueColor: #AFD6ED;

// Text
$mainTextColor: #222;
$headTextSize: 26px;
$mainTextSize: 20px;
