@import "/src/styles/animations.scss";
@import "/src/styles/_variables.scss";

.bodyLayout {
  display: flex;
  font-weight: 500;
  background-color: $primaryColor;
  height: 100vh;

  .contentLayout {
    padding-left: 5%;
    transition: padding-left 0.3s;
    width: 100%;
    transition: padding-left 0.3s ease-in-out;

    @media (max-width: 1450px) {
      padding-left: 0;
    }

    &.shifted {
      padding-left: 20%;

      @media (max-width: 768px) {
        padding-left: 0;
      }
    }
    > *:last-child {
      display: flex;
      flex-direction: column;
      background-color: #ffdd6e;
      padding: 20px;
      height: 100vh;
      // height: 85.6vh;
    }
  }
}
