@use "/src/styles/_variables.scss" as vars;

.bodyLayout {
  display: flex;
  font-weight: 500;
  background-color: white;
  height: 100vh;
}

.contentLayout {
  padding-left: 5%;
  transition: padding-left 0.3s;
  width: 100%;
  transition: padding-left 0.3s ease-in-out;

  @media (max-width: 1450px) {
    padding-left: 0;
  }
}

.contentShifted {
  padding-left: 20%;

  @media (max-width: 768px) {
    padding-left: 0;
  }
}

.mainContent > *:not(:first-child) {
  display: flex;
  flex-direction: column;
  background-color: #253b37;
  // background-color: #ffc1c1;
  // background-color: #074f32;
  padding: 20px;
  min-height: 100vh;
  // height: 85.6vh;
}
