.carouselWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    position: relative;
    width: 100%;
    justify-content: center;
}

.swiperContainer {
    // width: 100%;
    padding: 8px 0;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

}

.navButtonPrev,
.navButtonNext {
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-shrink: 0;
    transition: all 0.3s ease;

    &.hiddenBtn {
        opacity: 0;
        pointer-events: none;
    }
}

.navButtonPrev:hover,
.navButtonNext:hover {
    background: rgba(106, 106, 106, 0.2);
    transform: scale(1.1);
}
