@use "@styles/_variables.scss" as vars;

.swiper {
    max-width: 70vw;
    box-shadow: 35px 35px 55px rgba(0, 0, 0, 0.3);
    margin: 40px auto;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid rgb(240, 240, 240);
    position: relative;

    .swiperSlide {
        display: flex;
        flex-direction: column;
        padding: 10px;
        margin-bottom: 100px;

        h2,
        h3 {
            align-self: center;
            font-family: "Bounded";
            margin-bottom: 10px;
        }

        .warning {
            color: rgb(255, 177, 177);
        }

        & > div {
            margin: 5px 0;
        }

        label {
            display: inline-block;
            width: 30%;
        }

        .table {
            width: 98%;
            border-collapse: collapse;

            th,
            td {
                padding: 12px;
                text-align: left;
                border-bottom: 1px solid #ddd;
                transition: box-shadow 0.3s ease-in-out;
            }

            th {
                // background-color: #fff5e8;
                border-bottom: 2px solid black;
                font-weight: 600;
                color: #555;
            }
            tbody {
                tr:hover {
                    background-color: #f8f8f8;
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
                    cursor: pointer;
                }
            }
        }

        .noTable {
            color: #6c757d;
            text-align: center;
            font-style: italic;
            margin: 0;
        }
    }

    @media (max-width: 800px) {
        margin: 10px auto;
        max-width: 100vw;
        .swiperSlide {
            font-size: 10px;
            div {
                display: flex;
                flex-direction: column;
                margin: 10px 0;

                label {
                    margin-bottom: 5px;
                }
            }
            .table {
                th,
                td {
                    padding: 4px;
                }
            }
        }
    }

    .swiperFooter {
        display: flex;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        .swiperFlags {
            width: 50%;
            padding: 10px;

            & > div {
                margin: 10px 0;

                label {
                    margin-left: 20px;
                    font-size: 18px;
                }
                input {
                    height: 16px;
                    width: 16px;
                }
            }
        }
        .swiperBtns {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                padding: 12px 24px;
                background-color: vars.$darkColor;
                color: white;
                border: none;
                border-radius: 4px;
                font-size: 16px;
                cursor: pointer;

                margin: auto;

                transition: background-color 0.2s;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

                &:hover:not(:disabled) {
                    background-color: vars.$lightBlueColor;
                }

                &:disabled {
                    background-color: #6c757d;
                    cursor: not-allowed;
                }
                &:active {
                    box-shadow: inset 5px 5px 5px black;
                }
            }
        }

        @media (max-width: 1200px) {
            .swiperFlags {
                & > div {
                    label {
                        font-size: 14px;
                    }
                    input {
                        height: 12px;
                        width: 12px;
                    }
                }
            }
            .swiperBtns {
                flex-direction: column;
                button {
                    font-size: 12px;
                    padding: 6px 12px;
                }
            }
        }
        @media (max-width: 800px) {
            flex-direction: column;
            align-items: center;
            .swiperFlags {
                width: 100%;
                & > div {
                    label {
                        font-size: 10px;
                    }
                    input {
                        height: 10px;
                        width: 10px;
                    }
                }
            }
            .swiperBtns {
                width: 100%;
                flex-direction: column;
                align-items: center;
                button {
                    margin-bottom: 5px;
                    font-size: 10px;
                }
            }
        }
    }
}

.pageFooter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
     @media (max-width: 800px) {
        flex-direction: column;

        button {
            margin-bottom: 10px;
        }
     }
}

.actionButton {
    padding: 12px 24px;
    background-color: vars.$darkColor;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;

    margin: auto;

    transition: background-color 0.2s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

    &:hover:not(:disabled) {
        background-color: vars.$lightBlueColor;
    }

    &:disabled {
        background-color: #6c757d;
        cursor: not-allowed;
    }
    &:active {
        box-shadow: inset 5px 5px 5px black;
    }
}
