@use "@styles/_variables.scss" as vars;

.form {
    width: 70vw;
    box-shadow: 35px 35px 55px rgba(0, 0, 0, 0.3);
    margin: 40px auto;
    padding: 40px;
    border-radius: 8px;
    border: 2px solid rgb(240, 240, 240);
    position: relative;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;

    h2,
    h3 {
        font-family: "Bounded";
        margin-bottom: 30px;
        text-align: center;
    }
    & > div {
        margin: 10px 0;
    }

    label {
        display: inline-block;
        width: 30%;
    }

    .table {
        width: 98%;
        border-collapse: collapse;

        th,
        td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            transition: box-shadow 0.3s ease-in-out;
        }

        th {
            // background-color: #fff5e8;
            border-bottom: 2px solid black;
            font-weight: 600;
            color: #555;
        }
        tbody {
            tr:hover {
                background-color: #f8f8f8;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
                cursor: pointer;
            }
        }
    }

    .noTeams {
        color: #6c757d;
        text-align: center;
        font-style: italic;
        margin: 0;
    }

    @media (max-width: 800px) {
        margin: 10px auto;
        max-width: 100vw;
        font-size: 10px;
        div {
            display: flex;
            flex-direction: column;

            label {
                margin-bottom: 5px;
            }
        }
    }
}

.actionButton {
    padding: 12px 24px;
    background-color: vars.$darkColor;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;

    margin: auto;

    transition: background-color 0.2s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

    &:hover:not(:disabled) {
        background-color: vars.$lightBlueColor;
    }

    &:disabled {
        background-color: #6c757d;
        cursor: not-allowed;
    }
    &:active {
        box-shadow: inset 5px 5px 5px black;
    }
}
