@use '/src/styles/_variables.scss' as vars;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 2px vars.$darkColor solid;
  color: vars.$darkColor;
  background: #fff;
}

.headerMid {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  gap: 12px;
  font-size: 30px;
  text-decoration: none;
  & * {
    color: black;

  }
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;

  .userGreeting {
    margin-right: 8px;
    color: #333;
    font-size: 14px;
  }

  .headerAction {
    padding: 8px 16px;
    background-color: #40655e;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

    &:hover {
      background-color: #9d8229;
    }
    &:active {
      box-shadow: inset 5px 5px 5px black;
    }
  }
  .openDropdownBtn {
    width: 160px;
  }
  .dropdownDiv {
    position: absolute;
    top: 40px;
    right: 0px;
    width: 160px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in-out;
    border-radius: 5px;
    overflow: hidden;

    button {
      width: 100%;
      text-align: center;
      border-radius: 0;
    }
  }
  .hidden {
    opacity: 0;
    pointer-events: none;
  }
}
