@use "/src/styles/_variables.scss" as vars;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px lightgray solid;
  color: vars.$darkColor;
  background: #fff;
  z-index: 1;
  font-family: "Bounded";
  & * {
    font-family: inherit;
  }
  margin-bottom: 15px;
}

.headerLeft {
  img {
    height: 60px;
    width: auto;
  }
  margin-right: 20px;
}

.headerMid {
  display: flex;
  flex-direction: column;
  min-width: 50%;
  gap: 12px;
  font-size: 20px;
  text-decoration: none;
  & * {
    color: black;
  }
}

.headerRight {
  display: flex;
  align-items: center;
  gap: 12px;
  position: relative;
  margin-right: 200px;
  margin-left: 20px;

  .userGreeting {
    margin-right: 8px;
    color: #333;
    font-size: 14px;
  }

  .headerAction {
    padding: 8px 16px;
    background-color: vars.$darkColor;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    height: 34px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition:
      background-color 0.3s ease-in-out,
      opacity 0.3s ease-in-out;

    &:hover {
      background-color: vars.$lightBlueColor;
    }

    span {
      transition: transform 0.3s ease-in-out;
    }
  }

  & > .headerAction {
    width: max-content;
    border-radius: 0 20px 20px 0;
    display: flex;
    .rotated {
      transform: rotate(90deg);
    }
  }

  .openDropdownBtn {
    min-width: 170px;
  }
  .dropdownDiv {
    background-color: vars.$darkColor;
    position: absolute;
    top: 50px;
    right: 0px;
    min-width: 170px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in-out;
    border-radius: 5px;
    overflow: hidden;
    height: calc(34px * 4);
    transition: height 0.3s ease-in-out;

    button {
      width: 100%;
      text-align: center;
      border-radius: 0;
      align-items: center;
      justify-content: center;
      white-space: nowrap;
      &:last-child {
        border-top: 2px solid vars.$mainTealColor;
      }
      &.selected {
        background-color: vars.$mainTealColor;
      }
    }
  }
  .hidden {
    height: 20px;
    button {
      opacity: 0;
    }
    pointer-events: none;
    box-shadow: none;
  }
}
