@use "/src/styles/_variables.scss" as vars;

.homeUp {
  display: flex;
  align-items: center;
  justify-content: start;
  width: inherit;
  gap: 20px;
  padding: 20px;
  border-bottom: 2px vars.$secondaryColor solid;

  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cecece;
    color: vars.$secondaryColor;
    gap: 30px;
    padding: 30px;
    border: 2px vars.$secondaryColor solid;
    border-radius: 30px;
  }
}

.homeDown {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
