// @import "/src/styles/animations.scss";
// @import "/src/styles/_variables.scss";

// .sidebar {
//   display: flex;
//   flex-direction: column;
//   position: fixed;
//   left: 0;
//   top: 0;
//   width: 5%;
//   height: 100%;
//   background: #ffffff;
//   transition: width 0.3s ease-in-out;
//   overflow: hidden;
//   z-index: 100;
//   border: 1px $secondaryColor solid;

//   @media (max-width: 1450px) {
//     display: none;
//   }

//   &.open {
//     width: 20%;
//     transition: width 0.3s ease-in-out;

//     @media (max-width: 1450px) {
//       width: 20%;
//       position: absolute;
//       display: flex;
//       animation: slideIn 0.3s ease-in-out;
//     }

//     @media (max-width: 768px) {
//       width: 60%;
//       position: absolute;
//       display: flex;
//       z-index: 100;
//       animation: slideIn 0.3s ease-in-out;
//     }
//   }
// }

// .sidebarMenu {
//   display: none;
//   transition: opacity 0.4s ease;
//   pointer-events: none;

//   &.open {
//     display: block;
//     opacity: 1;
//     pointer-events: all;
//     transition: opacity 0.4s ease 0.2s;
//   }
// }

// .menuList {
//   display: flex;
//   min-width: 100%;
//   flex-direction: column;
//   list-style: none;
//   padding: 0;
//   gap: 17px;
// }

// .menuItem {
//   opacity: 0;
//   overflow: hidden;
//   transform: translateX(-20px);
//   transition: all 0.4s ease;
//   white-space: inherit;
//   border: 2px $secondaryColor solid;

//   .sidebar.open & {
//     opacity: 1;
//     transform: translateX(0);
//   }

//   @for $i from 1 through 10 {
//     &:nth-child(#{$i}) {
//       transition-delay: 0.05s * $i + 0.1s;
//     }
//   }

//   @media (min-width: 1750px) {
//     white-space: nowrap;
//   }
// }

// .menuLink {
//   color: $secondaryColor;
//   text-decoration: none;
//   display: flex;
//   width: 100%;
//   align-items: center;
//   padding: 9px 27px;
//   font-size: 20px;
//   border-radius: 20px;
//   gap: 20px;
//   transition: background-color 0.3s ease;

//   @media (max-width: 1200px) {
//     padding: 9px 10px;
//     font-size: 16px;
//     gap: 10px;
//   }

//   &:hover {
//     background-color: rgba(255, 255, 255, 0.2);

//     .menuIcon,
//     .menuText {
//       transform: translateX(5px);
//     }
//   }
// }

// .menuIcon {
//   width: 50px;
//   height: 50px;
//   max-width: 100%;
// }

// .miniLogo {
//   display: flex;
//   width: 100%;
//   height: 70px;
//   align-items: center;
//   justify-content: center;
//   transition: transform 0.3s ease;

//   img {
//     width: 30px;
//     height: auto;
//   }

//   .sidebar.open & {
//     transform: scale(1.05);
//   }
// }

// .logoCont {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   height: 11em;
//   transition: transform 0.3s ease;

//   a {
//     display: flex;
//     width: 100%;
//     align-items: center;
//     justify-content: center;

//     img {
//       width: 80%;
//       height: auto;
//     }
//   }

//   .sidebar.open & {
//     transform: scale(1.08);
//   }
// }

// .sidebarIcons {
//   display: flex;
//   width: 100%;
//   align-items: center;
//   flex-direction: column;
//   position: absolute;
//   gap: 25px;
//   margin-top: 90px;
//   transition: opacity 0.3s ease;

//   .sidebar:not(.open) & {
//     opacity: 1;
//     pointer-events: all;
//   }

//   .sidebar.open & {
//     opacity: 0;
//     pointer-events: none;
//   }
// }

// .iconLink {
//   display: flex;
//   justify-content: center;
//   border-radius: 20px;
//   padding: 5px;
//   width: 95%;
//   transition: transform 0.2s ease;

//   &:hover {
//     transform: scale(1.05);

//     .icon-img {
//       transform: rotate(10deg);
//     }
//   }
// }

// .iconImg {
//   width: 50px;
//   height: 50px;
//   max-width: 100%;
//   transition: transform 0.3s ease;
// }

// .sidebarOverlay {
//   display: none;
//   position: fixed;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0);
//   z-index: 99;
//   pointer-events: none;
//   transition: background-color 0.3s ease;

//   &.active {
//     display: block;
//     background-color: rgba(0, 0, 0, 0.5);
//     pointer-events: all;
//     animation: fadeIn 0.3s ease;
//   }

//   @media (max-width: 768px) {
//     display: block;
//   }
// }

// .closeSidebarMobile {
//   display: none;
//   position: absolute;
//   top: 5px;
//   right: 5px;
//   background: none;
//   border: none;
//   color: white;
//   align-items: center;
//   justify-content: center;
//   height: 42px;
//   font-size: 90px;
//   cursor: pointer;
//   z-index: 101;
//   opacity: 0;
//   transform: scale(0.8);
//   transition: all 0.3s ease;

//   @media (max-width: 768px) {
//     display: flex;
//     animation: fadeIn 0.3s ease;

//     .sidebar.open & {
//       opacity: 1;
//       transform: scale(1);
//       transition: all 0.3s ease 0.2s;
//     }

//     &:hover {
//       transform: rotate(90deg) scale(1.1);
//     }
//   }
// }
