@use '@styles/_variables.scss' as vars;

.longridNavLinks{
  padding-left: 40vw;
  & > * {
    margin: 0 30px;
  }
}

.pageUp {
  display: flex;
  align-items: center;
  justify-content: start;
  width: inherit;
  gap: 20px;
  padding: 20px;
  border-bottom: 2px vars.$darkColor solid;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #cecece;
  color: vars.$darkColor;
  width: 25%;
  gap: 30px;
  padding: 30px;
  border: 2px vars.$darkColor solid;
  border-radius: 30px;
}

.pageDown {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
