* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* background-color: #fff9f1; */
}

html {
  scroll-behavior: smooth;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
