@use "@styles/_variables.scss" as vars;

.tabs {
  & > button {
    // margin-right: 10px;
    width: 550px;
    font-size: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
  border: none;
}

.hiddenTab {
  display: none !important;
}

.submitButton {
  padding: 12px 24px;
  background-color: #40655e;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

  &:hover:not(:disabled) {
    background-color: #9d8229;
  }

  &:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
  }
  &:focus {
    box-shadow: inset 5px 5px 5px black;
  }
}
