@use "@styles/_variables.scss" as vars;

.profileTab {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    background: vars.$lightColor;
    padding: 24px;
    border-radius: 8px;
    border: 2px solid rgb(240, 240, 240);
    box-shadow: 10px 10px 25px rgba(124, 124, 124, 0.2);
    input {
        background-color: vars.$lightColor;
    }
}

.balanceDiv {
    padding-bottom: 10px;
    border-bottom: 2px solid vars.$mainTealColor;
    & > label {
        font-size: 36px;
        font-weight: 600;
    }
    & > span {
        margin-left: 30px;
        font-size: 30px;
    }
}

.tableDiv {
    margin-top: 50px;

    button {
        width: 250px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
        margin-bottom: 30px;

        ul {
            padding: 12px;
        }

        th,
        td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
            transition: box-shadow 0.3s ease-in-out;
        }

        th {
            // background-color: #fff5e8;
            border-bottom: 2px solid black;
            font-weight: 600;
            color: #555;
        }

        td:hover {
            background-color: #f8f8f8;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
        }
    }
}

.changeBalance {
    margin-top: 10px;
    display: flex;
    align-items: center;
    button {
        width: 250px;
    }

    .balanceInputDiv {
        margin-left: 30px;
        transition: opacity 1s ease-in-out;

        label {
            font-weight: 400;
        }

        input {
            width: 200px;
            height: 20px;
            margin-left: 20px;
            padding-left: 5px;
            outline: none;
            border: 1px solid black;
            border-radius: 3px;
        }
    }

    .hidden {
        opacity: 0;
        pointer-events: none;
    }

    .error {
        color: #dc3545;
        font-size: 12px;
    }
}
