.profileTab {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.balanceDiv {
    & > label {
        font-size: 36px;
        font-weight: 600;
    }
    & > span {
        margin-left: 30px;
        font-size: 30px;
    }
}

.tableDiv {
    margin-top: 50px;

    button {
        width: 250px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
        margin-bottom: 30px;

        th,
        td {
            padding: 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f5f5f5;
            font-weight: 600;
            color: #555;
        }

        td:hover {
            background-color: #f5f5f5;
        }
    }
}

.changeBalance {
    margin-top: 10px;
    display: flex;
    align-items: center;
    button {
        width: 250px;
    }

    .balanceInputDiv {
        margin-left: 30px;
        transition: opacity 1s ease-in-out;

        label {
            font-weight: 400;
        }

        input {
            width: 200px;
            height: 20px;
            margin-left: 20px;
            padding-left: 5px;
        }
    }

    .hidden {
        opacity: 0;
    }

    .error {
        color: #dc3545;
        font-size: 12px;
    }
}
