@use "@styles/_variables.scss" as vars;

.profileTab {
  max-width: 800px;
  min-width: 41%;
  margin: 0 auto;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sectionTitle {
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  border-bottom: 2px solid vars.$mainTealColor;
  padding-bottom: 10px;
}

.editableSection,
.teamsSection {
  background-color: vars.$lightColor;
  padding: 24px;
  border-radius: 8px;
  border: 2px solid rgb(240, 240, 240);
  box-shadow: 10px 10px 25px rgba(124, 124, 124, 0.2);
  input,
  select,
  option {
    background-color: vars.$lightColor;
  }
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.nameRow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  font-weight: 500;
  color: #555;
}

.input,
.select {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.2s;

  &:active {
    outline: none;
    border-color: vars.$lightBlueColor;
  }
}

.select {
  background-color: white;
  cursor: pointer;
}

.statusDiv {
  padding-bottom: 12px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
}

.confirmButton {
  padding: 4px 8px;
  background-color: vars.$darkColor;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.2s;

  &:hover {
    background-color: vars.$lightBlueColor;
  }
}

.error {
  color: #dc3545;
  font-size: 12px;
  margin-top: 4px;
}

.teamsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    transition: box-shadow 0.3s ease-in-out;
  }

  th {
    // background-color: #fff5e8;
    border-bottom: 2px solid black;
    font-weight: 600;
    color: #555;
  }
  tbody {
    tr:hover {
      background-color: #f8f8f8;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    }
  }
}

.noTeams {
  color: #6c757d;
  text-align: center;
  font-style: italic;
  margin: 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 24px;
}
