@use "@styles/_variables.scss" as vars;

.settingsTab {
  max-width: 800px;
  min-width: 41%;
  margin: 0 auto;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.settingsSection,
.teamsSection {
  background: #fff;
  padding: 24px;
  border-radius: 8px;
  border: 2px solid rgb(240, 240, 240);
  box-shadow: 10px 10px 25px rgba(124, 124, 124, 0.2);
  background-color: vars.$lightColor;
  input,
  select,
  option {
    background-color: vars.$lightColor;
  }
}

.sectionTitle {
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  border-bottom: 2px solid vars.$mainTealColor;
  padding-bottom: 10px;
}

.subsectionTitle {
  margin: 24px 0 16px 0;
  font-size: 16px;
  font-weight: 600;
  color: #555;
}

.fieldGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  font-weight: 500;
  color: #555;
}

.input,
.select {
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.2s;

  &:active {
    outline: none;
    border-color: vars.$mainTealColor;
  }
}

.select {
  background-color: white;
  cursor: pointer;
  // max-width: 200px;
}

.checkboxGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  margin-top: 16px;
}

.checkboxGroup {
  margin-bottom: 12px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  transition: background-color 0.2s;

  // &:hover {
  //     background-color: #f8f9fa;
  // }
}

.checkbox {
  width: 18px;
  height: 18px;
  cursor: pointer;
  accent-color: vars.$mainTealColor;

  &:active {
    outline: none;
  }
}

.checkboxText {
  font-size: 14px;
  color: #333;
  user-select: none;
}

.teamsTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;

  th,
  td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    transition: box-shadow 0.3s ease-in-out;
  }

  th {
    // background-color: #fff5e8;
    border-bottom: 2px solid black;
    font-weight: 600;
    color: #555;
  }
  tbody {
    tr:hover {
      background-color: #fef6ed;
      // box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    }
  }

  td:last-child input {
    margin-left: 35px;
  }
}

.noTeams {
  color: #6c757d;
  text-align: center;
  font-style: italic;
  margin: 20px 0;
}

.actions {
  display: flex;
  justify-content: flex-end;
  padding: 0 24px;
}
