@use "@styles/_variables.scss" as vars;

.pageContainer {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    //   background-color: white;
}

.form {
    margin: 0 auto;
    width: 60vw;
    min-height: 70vh;
    padding: 60px;
    border-radius: 8px;
    background-color: vars.$lightColor;
    border: 2px solid rgb(240, 240, 240);
    box-shadow: 35px 35px 55px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
        margin-bottom: 40px;
    }

    label {
        margin-right: 20px;
        width: 100%;
        font-size: 18px;
    }

    p {
        height: 30px;
        margin-left: 70px;
    }

    input {
        min-width: 30vw;
        padding: 5px;
        border-radius: 5px;
        outline: none;
        margin-right: auto;
    }

    .textArea {
        margin-top: 10px;
        border: 2px solid rgb(104, 104, 104);
        box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: 0.3);
        * {
            min-height: 200px;
        }
    }
}

.error {
    color: #dc3545;
    font-size: 12px;
    margin-top: 4px;
}

.submitButton {
    padding: 12px 24px;
    background-color: vars.$darkColor;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;

    margin: auto;
    margin-top: 50px;

    transition: background-color 0.2s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);

    &:hover:not(:disabled) {
        background-color: vars.$lightBlueColor;
    }

    &:disabled {
        background-color: #6c757d;
        cursor: not-allowed;
    }
    &:active {
        box-shadow: inset 5px 5px 5px black;
    }
}
