@import "/src/styles/_variables.scss";

.projectUp {
  display: flex;
  align-items: center;
  justify-content: start;
  width: inherit;
  gap: 20px;
  padding: 20px;
  border-bottom: 2px $secondaryColor solid;

  .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #cecece;
    color: $secondaryColor;
    width: 25%;
    gap: 30px;
    padding: 30px;
    border: 2px $secondaryColor solid;
    border-radius: 30px;
  }
}

.projectDown {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
